body {
    border: 1px solid #1b315a;
    background: #ffffff;
}

#tasks-form {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;
    background: #465a82;
    padding: 15px;
    color: white;
    border-top: 2px solid #1b315a;
    border-bottom: 3px solid #1b315a;
}

#tasks-form h3, #tasks-form span.form-text {
    color: #d2d9e8;
    text-transform: uppercase;
}

#tasks-form input {
    max-width: 80%;
    margin: auto;
    color: #1b315a;
}

#tasks-form .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(27, 49, 90, 0.2);
    border-color: #1b315a;
}




#tasks {
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
}

#tasks .nav-tabs li {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
}

#tasks .nav-tabs li .nav-link {
    border: 1px solid #1b315a;
    border-top: 3px solid transparent;
    background-color: #6a7da2;
    color: #d2d9e8;
}

#tasks .nav-tabs li .nav-link:hover {
    color: white;
    background-color: #586c94;
}

#tasks .nav-tabs li .nav-link.active {
    background-color: #465a82;
    color: white;
    border: 1px solid #1b315a;
    border-top: 3px solid #1b315a;
}

#tasks .tab-content {
    border: 1px solid #adbad4;
    border-top: 0;
}


#tasks .tab-content table {
    color: #1b315a;
    margin-bottom: 0;
}


#tasks .tab-content table tr {
    background-color: #dfe5f5;
}

#tasks .tab-content table tr:nth-of-type(odd) {
    background-color: #eef2fb;
}

#tasks .tab-content table td {
    padding: 20px 10px;
}

#tasks .tab-content table td, #tasks .tab-content table th {
    border-top: 1px solid #adbad4;
}

#tasks .tab-content table h5 {
    margin-bottom: 0;
}

#tasks .tab-content table .task-meta {
    margin-top: 10px;
    padding-top: 10px;
    display: block;
    color: #737e94;
    border-top: 1px solid #d6dce8;
}

#tasks .tab-content table span.task-meta i {
    font-size: 12px;
}

#tasks .delete-task, #tasks .complete-task, #tasks .restore-task {
    margin-right: 5px;
    line-height: 1;
}

#tasks .restore-task {
    background-color: #6a7da2;
    border-color: #465a82;
}

#tasks .restore-task:hover {
    background-color: #586c94;
    border-color: #465a82;
}



#tasks-feedback {
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    font-size: 20px;
}

#tasks-feedback .tasks-feedback-alert {
    border-radius: 0;
    padding: 10px;
}


#tasks-feedback .tasks-feedback-alert.alert-success {
    background: rgba(120, 171, 132, 0.95);
    border-color: #0a4617;
    color: #0a4617;
}

#tasks-feedback .tasks-feedback-alert.alert-warning {
    background: rgba(218, 179, 121, 0.95);
    border-color: #462f0f;
    color: #503d21;
}

#tasks-feedback .tasks-feedback-alert.alert-danger {
    background: rgba(197, 109, 118, 0.95);
    border-color: #652b30;
    color: #691a22;
}